# 使用python操作数据库

## 首先导入必要的包

In [6]:
import requests
import pymysql

## 连接数据库

In [7]:
db = pymysql.connect(host='localhost',user='root',password='19981022',port=3306)

查看数据库的版本

In [10]:
# cursor 获取mysql的操作光标,之后就是利用cursor对数据库进行操作
cursor = db.cursor()
cursor.execute('select version()') #使用execute执行操作代码，不用加分号，系统自动添加
# fetch 使用它来获取操作后得到的信息
message = cursor.fetchone()
print('MySQL version:',message)

MySQL version: ('8.0.11',)

关闭数据库

In [11]:
db.close()

## 创建数据库

In [13]:
myDB = pymysql.connect(host='localhost',user='root',password='19981022',port=3306)
cursor = myDB.cursor()

In [14]:
cursor.execute('create database test')
message = cursor.fetchone()
print(message)

None

In [16]:
cursor.execute('show databases')
print(cursor.fetchall())

(('information_schema',), ('mysql',), ('performance_schema',), ('spiders',), ('sys',), ('test',))

## 删除数据库

In [17]:
cursor.execute('drop database test')
message = cursor.fetchall()
print(message)

()

In [18]:
cursor.execute('show databases')
message = cursor.fetchall()
print(message)

(('information_schema',), ('mysql',), ('performance_schema',), ('spiders',), ('sys',))

需要注意：
    
    information_schema：主要存储了系统中的一些数据库对象信息，比如用户表信息、列信息、权限信息、字符集信息、分区信息等。

    cluster：存储了系统的集群信息。

    mysql：存储了系统的用户权限信息。

## 使用数据库

查看数据库中有什么表

In [19]:
cursor.execute('use mysql')
cursor.execute('show tables')
cursor.fetchall()

(('columns_priv',),
 ('component',),
 ('db',),
 ('default_roles',),
 ('engine_cost',),
 ('func',),
 ('general_log',),
 ('global_grants',),
 ('gtid_executed',),
 ('help_category',),
 ('help_keyword',),
 ('help_relation',),
 ('help_topic',),
 ('innodb_index_stats',),
 ('innodb_table_stats',),
 ('password_history',),
 ('plugin',),
 ('procs_priv',),
 ('proxies_priv',),
 ('role_edges',),
 ('server_cost',),
 ('servers',),
 ('slave_master_info',),
 ('slave_relay_log_info',),
 ('slave_worker_info',),
 ('slow_log',),
 ('tables_priv',),
 ('time_zone',),
 ('time_zone_leap_second',),
 ('time_zone_name',),
 ('time_zone_transition',),
 ('time_zone_transition_type',),
 ('user',))

创建表

In [24]:
cursor.execute('use spiders')
cursor.execute('''create table if not exists students(
                    name varchar(255) not null,
                    id varchar(255) not null,
                    age int not null,
                    primary key(id))''')
message = cursor.fetchall()
message

()

插入数据

In [31]:
name = 'wujiahong'
_id = '2017153040'
age = 21
op = 'insert into students(name,id,age) values(%s,%s,%s)'
try:
    cursor.execute(op,(name,_id,age))
    myDB.commit()  #对数据插入，更新和删除都需要这个操作
    print('yes')
except:
    print('Error')
    myDB.rollback() #如果执行失败，该函数执行数据回滚，相当于什么也没有发生过

yes

In [33]:
cursor.execute('select * from students')
cursor.fetchall()

(('wujiahong', '2017153040', 21),)

In [39]:
name = 'victor'
_id = '2017153046'
age = 21
op = 'insert into students(name,id,age) values(%s,%s,%s)'
try:
    cursor.execute(op,(name,_id,age))
    myDB.commit()
    print('yes')
except:
    myDB.rollback()
    print('Error')

yes

In [40]:
cursor.execute('select * from students')
cursor.fetchall()

(('wujiahong', '2017153040', 21), ('victor', '2017153046', 21))

用字典的方法传入

In [46]:
data = {
    'name':'Bob',
    'id':'2017158436',
    'age':25
}
table = 'students'
keys = ', '.join(data.keys())
values = ', '.join(['%s'] * len(data))
op = 'insert into {table}({keys}) values ({values})'.format(table=table,keys=keys,values=values)
try:
    if cursor.execute(op,tuple(data.values())):
        print('ok!')
        myDB.commit()
except:
    print('error!')
    myDB.rollback()

ok!

In [47]:
cursor.execute('select * from students')
cursor.fetchall()

(('wujiahong', '2017153040', 21),
 ('victor', '2017153046', 21),
 ('Json', '2017158364', 18),
 ('Bob', '2017158436', 25))

In [49]:
myDB.close()

## 更新数据

In [50]:
try:
    myDB = pymysql.connect(host='localhost',user='root',password='19981022',port=3306)
    print('连接成功!')
except:
    print('连接失败!')
cursor = myDB.cursor()
#操作语句
op = 'update students set age = %s where name = %s'

连接成功!

In [53]:
cursor.execute('use spiders')
try:
    cursor.execute(op,(18,'wujiahong'))
    myDB.commit()
    print('yes')
except:
    print('error!')
    myDB.rollback()

yes